.wrapper {
    border-bottom: 1px solid #000;
}

.item {
    position: relative;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 8px 0;
    cursor: pointer;
    + .item {
        margin-left: 40px;
    }
}
.icon {
    margin-left: 6px;
}
.group {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #fff;
    width: 148px;
    display: none;
    z-index: 99;
    position: absolute;
    left: 0;
    margin-top: 9px;
}
.sub-item {
    padding-left: 16px;
    width: 100%;
    height: 32px;

    a:hover {
        background: linear-gradient(
            90deg,
            rgb(228, 14, 14) 0%,
            rgb(238, 27, 118) 100%
        );
        background-clip: text;
        color: transparent;
    }
    &:first-child {
        margin-top: 6px;
    }
    &:last-child {
        margin-bottom: 6px;
    }
}
.spacer {
    margin-top: 16px;
}

.item:hover .group {
    display: block;
}
