.popular-item {
    min-width: calc(100% / 6);
    margin: 0 8px;
    text-align: center;
    div:first-child {
        margin-left: -8px;
    }
}

.poster {
    width: 100%;
    border-radius: 8px;
}
.time {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.6rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

@media (min-width: 740px) {
}
@media (min-width: 1113px) {
}
@media (min-width: 740px) and (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1239px) {
    .popular-item {
        min-width: calc(100% / 9);
    }
}
