.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    // background-image: url("../../assets/images/bg.svg");
    // background-repeat: no-repeat;
    // background-position: 20% 150px;
    ::-webkit-scrollbar {
        height: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 15px;
        background-color: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(
            90deg,
            rgb(45, 127, 209) 0%,
            rgb(190, 137, 137) 100%
        );
        max-width: 20% !important;
        border-radius: 15px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(
            90deg,
            rgb(15, 111, 207) 0%,
            rgb(195, 125, 125) 100%
        );
    }
    ::-webkit-resizer {
        max-width: 12px !important;
    }
}
.inner {
    width: 100%;
}
.scroll {
    position: relative;
    width: 100%;
}

.blur-head {
    width: 0px;
    height: 65%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(156, 195, 239), rgb(163, 197, 239));
}
.blur-children-head {
    width: 100%;
    height: 100%;
    position: relative;
}
.blur {
    width: 30px;
    position: absolute;
    height: 65%;
    top: 0;
    right: 0px;
    background: linear-gradient(
        to right,
        rgb(220, 218, 239, 0) 0%,
        rgb(220, 217, 239) 100%
    );
}
.popular-list {
    border-radius: 8px;
    display: flex;
    gap: 15px;
    overflow: auto;
    overflow-x: scroll;
    overflow-y: auto;
}
@media (min-width: 740px) {
    .popular-list {
        border-radius: 8px;
        display: flex;
        width: 100%;
        overflow: auto;
        overflow-x: scroll;
        overflow-y: auto;
    }
    .blur {
        height: 100%;
    }
}
@media (min-width: 1113px) {
}
@media (min-width: 740px) and (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1239px) {
    .blur {
        right: -2px;
    }
}
