.wrapper {
    width: 100%;
    padding-bottom: 24px !important;
    border-bottom: 1px solid rgb(254, 15, 55);
}

.header {
    display: flex;
    align-items: center;
    margin: 12px 0;

    h3 {
        color: #343434;
        border-bottom: 3px solid rgb(80, 77, 77);
    }
}
@media (min-width: 740px) {
    iframe {
        width: 560px;
        height: 315px;
    }
}
@media (min-width: 1113px) {
}
@media (min-width: 740px) and (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1239px) {
    .wrapper {
        margin-left: 0;
    }
    .popular-item {
        min-width: calc(100% / 9);
    }
}
